.auth_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.auth_title {
    font-family: "Playball", cursive;
    font-weight: normal;
    text-align: center;
}

.auth_error {
    color: #ff00ff;
    text-align: center;
    margin: 10px;
}

.auth_signUp {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 30px 0;
    background-color: white;
    border: 1px solid #dbdbdb;
}

.auth_headerImage {
    object-fit: contain;
}

.auth_text {
    color: rgb(6, 153, 211);
    text-align: center;
    cursor: pointer;
}

.auth_progress {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 550px) {
    .auth_container {
        display: block;
    }

    .auth_signUp {
        width: auto;
        margin: 0;
        border: none;
    }
}

@media screen and (min-height: 1000px) {
    .auth_container {
        height: 90vh;
    }
}

@media screen and (max-width: 550px) and (min-height: 1000px) {
    .auth_container {
        background-color: white;
    }
}